/* *{
  background-color: #000942;
} */


body {
  padding: 0px;
  margin: 0px;
  background: transparent url('top bg/top\ bg.png') 0% 0% no-repeat padding-box;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -580px -325px;
  opacity: 1;
  width: 1519px;
  height: 1415px;
}

.V {
  position: absolute;
  left: 0.15%;
  right: 50.03%;
  top: 58%;
  /* bottom: 80.94%; */
  height: 598px;
  width: 600px;
  z-index: 1;

  /* background: #FFFFFF; */
}

.p1 {

  padding: auto;
  display: block;
  position: absolute;
  top: 41.5rem;
  /* border: 10px black solid; */
  left: 29.5rem;
  width: 1030px;
  height: 18rem;
  background-color: #250030;


  letter-spacing: 0px;
  text-align: left;
  font: normal normal normal 13px/23px Montserrat;
  color: #707070;
  opacity: 1;

}

.p2 {
  position: absolute;
  /* color: aquamarine; */
  background-color: #4B1954;
  top: 58.5rem;
  height: 140px;
  width: 1105px;
  left: 25rem;
}

.lefttriangle1 {
  position: absolute;
  right: 60.49rem;

  top: 37.1rem;
  width: 0.001rem;
  height: 3rem;
  border-bottom: 295px solid #250030;
  border-left: 98px solid transparent;
  z-index: 1;
}

.lefttriangle2 {
  position: absolute;
  left: 20.3rem;
  top: 55.8rem;
  width: 2rem;
  height: 1rem;
  border-bottom: 167px solid#4B1954;
  border-left: 57px solid transparent;
}

.triangle {
  position: fixed;
  width: 0;
  height: 0;
  right: 0px;
  bottom: 100px;
  border-top: 60px solid transparent;
  border-right: 80px solid #080D45;
  border-bottom: 40px solid transparent;
  z-index:2;
}

.triangle:hover{
  border-right-color: #338089;
  
}



.logo {
  position: absolute;
  right: 97px;
  top: 91px;
  height: 108px;
  width: 96px;
  opacity: 0;

}

.moto2 {
  position: absolute;
  right: -14rem;
  top: 25rem;
  /* color: aliceblue; */

  text-align: right;
  letter-spacing: NaNpx;
  color: #24676F;
  text-transform: capitalize;
  opacity: 0;
  font: italic;
  font-size: larger;
  font-style: italic;

  /* color: aliceblue; */
}

.moto1 {
  position: absolute;
  right: -18.5rem;
  top: 226px;
  /* font:normal normal normal 80px/81px Montserrat; */
  font-size: 3.5rem;
  /* color: aliceblue; */
  text-align: left;
  /* font: normal normal normal 80px/75px Montserrat; */
  letter-spacing: 0px;
  color: #338089;
  opacity: 0;
  /* transform: translateX(-450px); */
  /* transition-duration: 0.9s; */
}
.moto3{
  position: absolute;
  right: 44.5rem;
  top: 66.5rem;
  font-size: 2rem;
  text-align: left;
  letter-spacing: 3px;
  color: white;
  
  z-index: 9;
  font-style: italic;
  
}
.moto4{
  position: absolute;
  right: 46rem;
  top: 102rem;
  font-size: 2rem;
  text-align: left;
  letter-spacing: 3px;
  color: white;
  
  z-index: 2;
  font-style: italic;
  
}
.moto5{
  position: absolute;
  right: 70rem;
  top: 104rem;
  font-size: 2rem;
  text-align: left;
  letter-spacing: 3px;
  color: white;
  
  
  font-style: italic;
}
.nova{
 text-align: right;
  
}
/* .moto1:hover{
  transform: translateX(-450px); 
transition-duration: 0.9s;
} */


.triclick1 {
  position: fixed;
  right: 0px;
  top: 200px;
  width: 260px;
  height: 520px;
  transform: skew(-20deg);
  background: #000942;
  border: 4px solid #338089;
  opacity: 0;
  /* z-index: 2; */
  
}

.triclick1 li {
  color: #338089;
  margin: 30px;

  list-style-type: none;
  
}

.triclick2 {
  position: fixed;
  right: -230px;
  top: 200px;
  width: 260px;
  height: 520px;
  transform: skew(-20deg);
  background: #338089;
  border: 4px solid #338089;
  opacity: 0;
  /* z-index: 2; */
}

.box {
  background-color: #021825;
  position: absolute;
  top: 488.5px;
  height: 587.5px;
  width: 63px;
  left: 0px;
}

.righttriangle {


  position: relative;
  width: 0rem;
  left: 1.3rem;
  top: -10px;
  height: 498px;
  border-bottom: 588.5px solid #021825;
  border-right: 300px solid transparent;
}
/* .gayab{
  width:20rem;
  height:30rem;
  /* margin-top:10rem; */
  /* background-color: red; */
  /* position: relative;
  top:37rem;
} */ 


.hover1 {
  position: absolute;
  font-size: 30px;
  color: #338089;
  font: Montserrat;
  top: 47rem;
  left: -5rem;
  z-index: 1;
  opacity: 0;
  transform:translateX(-5rem) 
}

.hover1:hover {
  opacity: 1;
  transition: ease-in-out;
  transform: translateX(80px);
  /* -webkit-transform: translateX(10px); */
  /* transition-delay: 0.2s; */
  transition-duration: 0.3s;
  
}





.hover1 li {
  padding: 8px;
  list-style-type: none;
}


.img1 {
  height: 700px;
  width: 326px;
  margin-top: -0.59rem;
  filter: grayscale(100%);

}

 .img1:hover,
.img2:hover,
.img3:hover {
  filter: grayscale(0%);
  transition: .5s ease-in-out;

} 

.img2 {

  height: 42.5rem;
  width: 27rem;
  filter: grayscale(100%);
  margin-top:.5rem;
  margin-left:0.5rem;
  transform: rotateZ(-0.5deg);


}

.img3 {
  position: absolute;
  height: 500px;
  width: 326px;
  left: 500px;
  top: 1096px;
  margin-top: -1.3rem;
  margin-left: -5rem;
  filter: grayscale(100%);
  z-index: 5;
}

.secondpage {
  display: flex;
}

.last{
  background-color: black;
  height:43.6rem;
  width: 726px;
  margin-left:48rem;
  margin-top:-44.2rem;
  position: absolute;

}
/* .moto1:hover,.moto2:hover{
  opacity: 1;
  
 
} */

/* .logo:hover{
  opacity: 1;
} */

/* .moto:hover 
{
  opacity: 1;
  
  transform: translateX(-450px);
  transition: all;

  transition-duration: 0.6s;
} */

.rec1{
  width:14rem;
  height: 0.4rem;
  background-color:white;
  z-index: 3;
  margin-top: -.55em;
  margin-left: -32rem;
}

.rec2{
  width:10rem;
  height: 0.4rem;
  background-color:white;
  z-index: 3;
  margin-top: 42.8rem;
  margin-left: -14rem;
}

.rec3{
  width:12rem;
  height: 0.4rem;
  background-color:white;
  z-index: 3;
  margin-top: -0.7rem;
  margin-left: 16rem;
  z-index: 7;
}

.moto6{
  text-align: center;
  letter-spacing: NaNpx;
  color: #24676F;
  text-transform: capitalize;
  opacity: 0;
  font: italic;
  font-size: larger;
  font-style: italic;
  z-index: 11;
  position:absolute;
  top:26rem;
  right:9rem;
  font-size: 1.5rem;

  
  
}

.moto7{
  text-align: center;
  letter-spacing: NaNpx;
  color: #24676F;
  text-transform: capitalize;
  opacity: 0;
  font: italic;
  font-size: larger;
  font-style: italic;
  z-index: 11;
  position:absolute;
  top:26rem;
  right:9rem;
  font-size: 1.5rem;
}

.moto8{
  text-align: center;
  letter-spacing: NaNpx;
  color: #24676F;
  text-transform: capitalize;
  opacity: 0;
  font: italic;
  font-size: larger;
  font-style: italic;
  z-index: 11;
  position:absolute;
  top:24rem;
  right:7rem;
  font-size: 1.7rem;
}

.heading1{
  z-index: 11;
  top:22rem;
  right:16rem;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: NaNpx;
  color: #BE9E03;
  text-transform: capitalize;
  position: absolute;
  opacity: 0;
}

.heading2{
  z-index: 11;
  top:22rem;
  right:16rem;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: NaNpx;
  color: #03be32;
  text-transform: capitalize;
  position: absolute;
  opacity: 0;
}

.heading3{
  z-index: 11;
  top:18rem;
  right:16rem;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: NaNpx;
  color: #812818;
  text-transform: capitalize;
  position: absolute;
  opacity: 0;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  right: 0rem;
  top: 000px;
  /* position: relative; */
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}

.triclick2 button{
  /* background-color: aqua; */
  position: relative;
  top: 0px;
  right:0rem;
  opacity: 0;
}

.prize{
  text-align: center;
  letter-spacing: NaNpx;
  color: #24676F;
  text-transform: capitalize;
  opacity: 0;
  font: italic;
  font-size: larger;
  position:absolute;
  top:1rem;
  left: 30rem;
  font-size: 3rem;
}

.it{
  font-style: italic;
  text-align: center;
  letter-spacing: NaNpx;
  color: #24676F;
  text-transform: capitalize;
  opacity: 0;
  font: italic;
  font-size: larger;
  position:absolute;
  top:5rem;
  left: 22rem;
  font-size: 2.5rem;
}

.cancel{
 background-color:black

}